body {
  font-family: "Poppins", sans-serif;
}
section {
  background: white;
  /* border: 1px solid black; */
}

.main {
  background-color: #1c1d25;
  color: #fff;
  font-size: 40px;
}
nav {
}

ul {
}
li {
  /* width: 200px; */
  text-decoration: none;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
p {
  font-weight: 300;
  font-size: 30px;
}
.main-area {
}

.main-text {
}

.btn {
  width: 200px;
  height: 55px;
  background-color: coral;
  border-radius: 30px;
  text-align: center;
  font-weight: 300;

  cursor: pointer;
}

.btn:hover {
  background-color: #ef744b;
}
.btn:active {
  background-color: #a9a9a9;
  color: #808080;
}
.socials {
}
.social {
}
.logo {
}

.sub-section {
}
.sub-section-alt {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 80px; */
}
.about-txt {
  width: 70%;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
}

.project-card {
  width: 200px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(190, 187, 187);
  margin: 10px;
}
.project-card p {
  font-size: 20px;
}
.project-container {
  display: flex;
  justify-content: space-around;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
